@import url("https://fonts.googleapis.com/css2?family=Smythe&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* * {
  box-sizing: border-box;
} */

body {
  font-family: "Smythe", system-ui;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: lightgray;
}

.container {
  margin-top: 30px;
  width: 600px;
  height: 93vh;
  background-color: #fff;
  position: relative;
}

header {
  background-image: url("https://s3-alpha-sig.figma.com/img/8453/64ec/acaeaea44c5e3a8cd7159c5d52f26662?Expires=1728864000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=qjxCGiCpnt21P2zpACMdZjuCvxBm2sDzsqRcvedBtGyjttku5DCDa0zE9rN3aEy06lsCtbZfvR6v48b32dYARXeqVmcuTs7lZUgjGWFTxtZ2YpODjcwjL~jhnEP6ZmyWDlj-Q1kN-Y-pb6iY1P4JWFZLwdtr5d7nc3EHYiEgduUBV2iysYsctV9fSzw4iptvmPw~SpS~4s9lNonpoEyZ-npB0JWKzgtfkc9j7MwvzOpm4ePjQsZv1xA0Xt-JT9YUB4nnHhESWce8o1VPgBipX-ntnsRv-NxfRR3zMH4kDtDA-L0sfCQR3evouQhbGmu~lnP32W~d-6ODKi6z-KnDrQ__");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  height: 180px;
  padding: 20px;
}

header h1,
header h2 {
  margin-left: 50px;
}

header h1 {
  font-size: 39px;
  line-height: 24px;
  font-weight: 400;
  margin-top: 60px;
}

header h2 {
  font-size: 22.42px;
  line-height: 13.8px;
  font-weight: 400;
}

.menu-cards {
  padding: 0 60px;
}

.card {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #d2d2d2;
  justify-content: space-between;
}

.details-container {
  display: flex;
}

.emoji {
  display: flex;
  width: 70px;
  height: 89px;
  font-size: 75px;
  justify-content: center;
  margin-top: 36px;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
  margin-top: 15px;
}

.details h2 {
  font-size: 28px;
  margin: 0;
  line-height: 16.8px;
}

.details p {
  color: #8b8b8b;
  font-size: 16px;
  font-weight: 400;
  padding: 0;
}

.details h3 {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
}

.btn {
  font-family: Inter;
  font-size: 32px;
  font-weight: 200;
  line-height: 24px;
  text-align: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-top: 60px;
  color: #3c3c3c;
  background-color: #fff;
  border: 1px solid #dedede;
}

.order {
  display: none;
  width: 508px;
  margin: 0 auto;
}

.items {
  border-bottom: 2px solid #393333;
}

.order-items {
  display: flex;
  margin-top: 0;
  justify-content: space-between;
  padding: 5px;
}

.order-items-container {
  display: flex;
}

.order-items h3,
.order-items a,
.order-items h2,
.order-items p {
  font-weight: 400;
  margin: 0;
}

.order-items h3 {
  font-size: 28px;
}

.order-items a {
  text-decoration: none;
  color: #bbbbbb;
  margin-top: 8px;
  margin-left: 10px;
}

.order-items p {
  font-size: 20px;
  margin-top: 10px;
}

.order h2 {
  font-size: 28px;
  text-align: center;
}

.total-price {
  display: flex;
  justify-content: space-between;
}

.total-price h2,
.total h3 {
  line-height: 24px;
  font-weight: 400;
}

.total-price h2 {
  font-size: 28px;
}
.total-price h3 {
  font-size: 20px;
  margin-right: 5px;
}

.submit-btn,
.submit {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  width: 508px;
  height: 60px;
  background-color: #16db99;
  color: #fff;
  border: none;
  margin-bottom: 10px;
}

.modal-container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 524px;
  height: 542.24px;
  position: absolute;
  z-index: 1;
  top: 25%;
  left: 40px;
  background-color: #fff;
  border-radius: 3.89px;
  box-shadow: 5.19px 5.19px 255.44px 0px #00000080;
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form label {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin: 50px auto;
}

.form input {
  color: #757575;
  font-size: 20px;
  font-weight: 400;
  line-height: 31.12px;
  margin: 0 auto;
  width: 475px;
  height: 70px;
  margin-bottom: 20px;
  border: 1.3px solid #757575;
  border-radius: 3.89px;
  text-indent: 10px;
}

.inputs {
  margin-left: 20px;
  margin-bottom: 30px;
}

.form input::placeholder {
  position: absolute;
  left: 25px;
}

.submit {
  margin: 0 auto;
  width: 475.91px;
  height: 71.3px;
  top: 733.09px;
  left: 61.22px;
  gap: 0px;
  border-radius: 3.89px;
  opacity: 0px;
}

div .card {
  height: 170px;
}

.order-completion {
  background: #ecfdf5;
  width: 504px;
  height: 120px;
  border-radius: 3px;
  margin: 0 auto;
  display: none;
  margin-top: 20px;
  display: none;
  justify-content: center;
}

.order-completion h3 {
  font-size: 30px;
  color: #065f46;
  width: 379px;
  height: 17px;
  margin: 0 auto;
  text-align: center;
  padding-top: 25px;
}
